<!DOCTYPE html>
<header>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</header>

<body>

    {{>header}}    
    <H1>the titile of this page is {{title}} </H1>
    <div> This page was prepared by {{nmae}}</div>
       {{>footer}}
</body>